<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title></title>

	<% range $midx, $module := ListModulesFromManifest "./examples/js/modules.manifest" %>
		<script type="module" src="./modules/<% $module %>"></script>
	<% end %>
</head>

<body>
	<div id="master">
		<h1>Hello <% .WEBSITE_NAME %>!!!</h1>
	</div><!-- /#master -->

	<div class="fragments">
		<% InjectFragments "./examples/fragments/*.fragment" %>
	</div><!-- /.fragments -->
</body>
</html>
