<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title></title>
</head>

<body>
	<div id="master">
		<h1>Hello <% .TEST_NAME %></h1>
	</div><!-- /#master -->

	<div class="fragments">
		<% InjectFragments "./examples/fragments/*.fragment" %>
	</div><!-- /.fragments -->
</body>
</html>
